.chart-card {
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.3);
  align-items: center;
}

.chart-top {
  width: 150px;
  height: 100px;
  background: rgba(255, 255, 255, 0.9);
}

.chart-bar-section {
  width: 60%;
  margin-top: 15px;
}

.chart-bar {
  width: 100%;
}

.chart-border {
  border-radius: 20px;
}

.chart-card-title {
  color: rgb(150, 150, 150);
}

.chart-title {
  color: rgb(150, 150, 150);
}