.medal {
  justify-content: space-between;
  align-items: center;
  margin: 0.5em;
}

.rank-icon {
  width: 3.5em;
  height: 3.5em;
  background: rgba( 255, 255, 255, 0.30 );
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rank-icon-none {
  width: 3.5em;
  height: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rank-icon-sm {
  width: 2.5em;
  height: 2.5em;
  background: rgba( 255, 255, 255, 0.30 );
  border-radius: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rank-icon-xs {
  width: 1.5em;
  height: 1.5em;
  background: rgba( 255, 255, 255, 0.30 );
  border-radius: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rank-icon > img {
  height: 100%;
}

.rank-icon-xs > img {
  height: 100%;
}

.green-icon {
  background: rgba(130, 207, 145, 0.7);
}

.leader-board-container {
  padding: 2em;
  min-height: 70%;
  overflow-y: auto;
}

.leader-board-name {
  align-self: center;
  padding-left: 1em;
}

.player {
  justify-content: space-between;
  align-items: center;
  margin: 0.1em 0.5em;
}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.gold-medal {
  opacity: 0;
  animation: fadeInUp 0.5s ease-in 2.5s forwards;
}

.silver-medal {
  opacity: 0;
  animation: fadeInUp 0.5s ease-in 1.5s forwards;
}

.bronze-medal {
  opacity: 0;
  animation: fadeInUp 0.5s ease-in 0.5s forwards;
}

