* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image:url(https://media.giphy.com/media/l1BgRuUbcL5wgQLtu/giphy.gif);
  background-size: 100% 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html,
body,
#root,
.App {
  height: 100%;
}

ul {   
  list-style-type: none;   
  margin: 0;   
  padding: 0;   
}   
            
li {   
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;   
  border-bottom: 1px solid #ccc;   
} 

.border {
  border: 1px solid #57737A;
}

@media(orientation: portrait) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: 5% 40% 20% 35%;
  }
  
  .title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .canvas {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  .message {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  
  .round {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

}

@media(orientation: landscape) {    
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10% 40% 50%;
  }

  .title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .canvas {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  
  .message {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  .round {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
